<!DOCTYPE html>
<html> <head> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css?family=Nunito:200">

<style> 
/* Header/Logo Title */

html, body {
  margin: 0; 
  padding: 0;
  font-weight: 200;
  background: #2c2c2c;
}

.header {
  padding: 20px;
  text-align: center;
  background: #f5f0e2;
  color: rgb(34, 34, 34);
  font-family: 'Nunito', serif;
  font-size: 13px;
}

</style>
</head>

<body>

<!-- Navigation -->
<nav class="nav">
  <div id="page-wrapper">
    <div class="header">
      <h1>FINANCIAL MANAGER</h1>
    </div>
  </div>

  <div id="boxes">
    <div class="budgetbox">
      <img src="static/grey.jpg" alt="budget" 
        STYLE="position:absolute; TOP:140px; LEFT:40px; WIDTH:450px; HEIGHT:450px">
    </div>

    <div class="graphbox">
      <img src="static/grey.jpg" alt="graphs" 
        STYLE="position:absolute; TOP:140px; LEFT:510px; WIDTH:750px; HEIGHT:450px">
    </div>

    <div class="askbox">
      <img src="static/grey.jpg" alt="ask" 
        STYLE="position:absolute; TOP:140px; LEFT:1280px; WIDTH:600px; HEIGHT:450px">
    </div>
    
    <div class="spendingbox">
      <img src="static/grey.jpg" alt="spending" 
        STYLE="position:absolute; TOP:610px; LEFT:40px; WIDTH:1840px; HEIGHT:340px">
    </div>
  </div>

</nav>


</body>
</html>

