<center><body>
  <div class="container fill-height">
      <div class="row">
       <div class="col-lg-1"></div>
       <div class="col-lg-10">
         <h1 style="text-align:center;"> What would you like to do?</h1>
         <br>
      <a class="btn btn-primary btn-lg" href="add_finance" role="button">Add Finance</a>
      <a class="btn btn-primary btn-lg" href="ask" role="button">Ask</a>
      <a class="btn btn-primary btn-lg" href="new_budget" role="button">New Budget</a>
       </div>
      <div class="col-lg-1"></div>
   </div>
 </div>
</body></center>